USE [master]
GO
/****** Object:  Database [Sample]    Script Date: 4/5/2018 8:47:09 PM ******/
CREATE DATABASE [Sample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HAOSV\MSSQL\DATA\Sample.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HAOSV\MSSQL\DATA\Sample_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sample]
GO
/****** Object:  User [hao]    Script Date: 4/5/2018 8:47:10 PM ******/
CREATE USER [hao] FOR LOGIN [hao] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [hao]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [hao]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 4/5/2018 8:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[ID] [int] NOT NULL,
	[ten] [nvarchar](50) NULL,
	[maTheLoai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 4/5/2018 8:47:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[maTheLoai] [int] NOT NULL,
	[tenTheLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[HangHoa] ([ID], [ten], [maTheLoai]) VALUES (1, N'PC gaming III', 1)
INSERT [dbo].[HangHoa] ([ID], [ten], [maTheLoai]) VALUES (2, N'Pc văn phòng', 1)
INSERT [dbo].[HangHoa] ([ID], [ten], [maTheLoai]) VALUES (3, N'Asus K555L', 2)
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (1, N'PC')
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (2, N'Laptop')
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (3, N'Smartphone')
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [fk] FOREIGN KEY([maTheLoai])
REFERENCES [dbo].[TheLoai] ([maTheLoai])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [fk]
GO
USE [master]
GO
